* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-home {
  /* background: #eee; */
  width: 100%;
  position: absolute;
}
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 45px;
  height: 45px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 1rem;
  background: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

/* hamburger */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: white;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* turn line into X */

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.4sec;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: white;
  text-decoration: none;
  transition: color 0.4s ease;
}

.navbar-desktop {
  background: rgba(255, 255, 255, 1);
  /* width: 80%; */
  padding: 0.2rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 8fr;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 10px 33px -21px rgba(0, 0, 0, 0.75);
}

.navbar-desktop .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-desktop .content > ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.navbar-desktop .content > ul > li {
  list-style: none;
  margin-top: 1.1rem;
  font-size: 1.1rem;
  overflow: hidden;
  font-weight: 500;
}

.navbar-desktop .content > ul > li > a {
  color: #333;
  /* color: #fff; */
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Mulish", sans-serif;
}
@media (max-width: 750px) {
  .menu-wrap .hamburger {
    visibility: visible;
  }
  .navbar-home .navbar-desktop .content {
    visibility: hidden;
  }
  .navbar-desktop {
    padding: 0;
    position: static;
  }
  .navbar-desktop .logo img {
    width: 100%;
    height: 100%;
    position: relative;
    top: -70px;
  }
  .navbar-desktop .logo {
    width: 170px;
    height: 70px;
  }
}
