.footer-container {
  background-color: #eee;
  padding: 0.8rem 0;
  width: ;
}
.footer {
  position: relative;
  bottom: 0;
  /* top: 100%; */
  width: 80%;
  overflow: auto;
  margin: 2rem auto;
  color: #666;
}

.footer .div-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* text-align: left; */
  padding-bottom: 2rem;
  border-bottom: 1px solid #000;
}

.footer .div-1 div:nth-child(1) {
  grid-column: 1/3;
}

.footer .div-1 div:nth-child(1) h2 {
  margin-bottom: 3.5rem;
  color: #999;
}

.footer .div-1 div:nth-child(1) p {
  margin-bottom: 1rem;
}

.footer .div-1 div:nth-child(1) div.social-icon i {
  margin-right: 1.2rem;
  font-size: 1.5rem;
}

.footer .div-1 div:nth-child(2) h3,
.footer .div-1 div:nth-child(2) p,
.footer .div-1 div:nth-child(3) h3,
.footer .div-1 div:nth-child(3) p,
.footer .div-1 div:nth-child(4) h3,
.footer .div-1 div:nth-child(4) p {
  margin-bottom: 0.8rem;
}

.footer .div-1 div:nth-child(2) p,
.footer .div-1 div:nth-child(3) p,
.footer .div-1 div:nth-child(4) p {
  font-size: 13px;
}

.footer .div-2 p {
  margin-top: 4rem;
}

@media (max-width: 750px) {
  .footer .div-1 {
    display: block;
  }
  .footer .div-1 > div {
    margin-top: 1.8rem;
  }
}
