@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Recursive:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.testimonial-box {
  /* position: relative; */
  background-image: url("../../../images/testimonial-pic1.jpeg");
  /* height: 70vh; */
  padding: 1rem 0;
}

.testimonial-box h2 {
  /* position: absolute; */
  top: 0px;
  left: 36%;
  z-index: 1;
  text-align: center;
  font-size: 3rem;
  font-family: "Recursive", sans-serif;
  /* font-family: "Libre Baskerville", serif; */
  margin-top: 1rem;
  color: #eee;
}
.testimonial-box .image {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  background: #000;
  opacity: 0.9;
}

.testimonial-box img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.testimonial-box .testimonial-content {
  margin: 3rem 1rem;
  /* border: solid 1px red; */
  /* position: absolute;
  top: 120px; */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem; */
  text-align: center;
  color: #222;
  font-weight: 500;
  font-family: "Recursive", sans-serif;
  padding: 1rem 0;
}

.testimonial-box .testimonial-content > div > div {
  background: rgba(255, 255, 255, 0.7);
  margin: 1rem 0;
  padding: 1rem 0;
  /* border: solid 2px green; */
}

.testimonial-box .testimonial-content h3 {
  font-weight: 600;
}

.testimonial-box .testimonial-content h4 {
  font-size: 17px;
  color: #333;
}

.testimonial-box .testimonial-content i {
  color: royalblue;
  font-size: 20px;
  margin-bottom: 1rem;
}
